.custom {
    --main-spacing: 20px;
    --1x: 10px;
    --key-color: rgb(192, 113, 40);
    --text-color: rgb(2, 26, 21);
    --type-text-color: rgb(156, 37, 45);
    --type-number-color: rgb(168, 59, 134);
    --type-date-color: #c50808;
    --font-family: arial;
    --font-size: 22px;
}