:root {
    --main-spacing: 20px;
    --key-color: rgb(39, 126, 106);
    --value-color: rgb(2, 26, 21);
}

.container {
    padding: var(--main-spacing);
    .container {
        margin-left: var(--main-spacing);
    }
    .key {
        color: var(--key-color);
    }
    .value {
        color: var(--value-color);
    }
}